* {
  background-color: beige;
  font-size: 18px;
}

ul{
  list-style-type:none;
}

.finish{
  text-decoration: line-through;
  color: #999;
}

.title{
  font-size: 40px;
  border: none;
  margin-bottom: 20px;
}

.title:focus{
  outline: none;
}